body{
    background-image: url(mg.jpg);
}
   
div{ 
   font-weight: 500;
   font-size: 130%;
    height: 500px;
    width: 600px;
    display: block;
    margin: 200px;
    background-color: blue;
    border-radius: 30px;
}
div h3{
   
    color: white;
    font-size: 100%;
    font-weight: lighter;
}
h1{
    font-size: xx-large;
    font-weight: bolder;
    padding: 50px;
}
span{
    padding: 50px;
    color: white;
}
button{
   height: 50px;
   width: 150px;
   padding: 10px;
   border-radius: 5px;  
}
button:hover{
    color: red;
    cursor: pointer;
    font-weight: bold;
}
ul li a{
    font-weight: bold;
    color: red;
    padding: 10px;
}
.amaravathi{
    width: 500px;
    height: 500px;
    padding: 70px;
   
}
footer{
    display: flex;
    justify-content: center;
}
.vp{
    height: 400px;
    width: 400px;
    padding: 15px;
}
.vij{
    height: 400px;
    width: 400px;
    padding: 15px;
}
.gd{
    height: 400px;
    width: 400px;
    padding: 15px;
}

h4{
    color: black;
}